<!-- <%@ page contentType="text/html;charset=UTF-8" language="java" %> -->
<html>
<head>
    <title>Editar Perfil</title>
    <link rel="stylesheet" href="styles/editar_perfil.css">
</head>
<body>
<form action="editar-perfil" method="post">
    <header>
        <h1 style="color: #3eac5b;">Recoope</h1>
        <div id="pesquisa">
            <img src="imagens/pesquisa.png">
            <input type="text" name="pesquisar" placeholder="Pesquisar">
        </div>
        <div id="perfil">
            <img src="imagens/notificacao.png" alt="Notificações"/>
            <img src="imagens/perfil.png" alt="Perfil"/>
        </div>
    </header>
    <hr>
    <main>
        <div id="voltar">
            <p>< voltar</p>
        </div>
        <h2 style="color: #4b527a;">Cooperativa #123213213</h2>

        <div id="perfil-all">
            <div id="edt-perfil">
                <h4>Editar Perfil</h4>
            </div>
            <div id="editar-perfil">
                <div id="foto">
                    <img src="imagens/perfil.png" alt="Foto de Perfil">
                    <p>Nome do Cooperativa</p>
                    <p>Sou uma cooperativa</p>
                </div>
                <div id="edicao">
                    <div id="emailB">
                        <p>E-mail atual</p>
                        <input type="text" name="email" id="email">
                        <br><br>
                        <p>Novo E-mail</p>
                        <input type="text" name="novoEmail1" id="novoEmail1">
                        <br><br>
                        <p>Confirmar Novo E-mail</p>
                        <input type="text" name="novoEmail2" id="novoEmail2">
                        <br><br>
                        <!--
                        <% String invalidEmail = (String) request.getAttribute("invalidEmail"); %>
                        <% if (invalidEmail != null) { %>
                        <p style="color: red;"><%= invalidEmail %></p>
                        <% } %>

                        <% String errorEmailIgual = (String) request.getAttribute("emailIguais"); %>
                        <% if (errorEmailIgual != null) { %>
                        <p style="color: red;"><%= errorEmailIgual %></p>
                        <% } %>

                        <% String invalidNovoEmail1 = (String) request.getAttribute("invalidNovoEmail1"); %>
                        <% String invalidNovoEmail2 = (String) request.getAttribute("invalidNovoEmail2"); %>
                        <% if (invalidNovoEmail1 != null || invalidNovoEmail2 != null) { %>
                        <p style="color: red;"><%= invalidNovoEmail2 %></p>
                        <% } %>

                        <% String errorEMAIL = (String) request.getAttribute("emailDiferente"); %>
                        <% String errorEMAIL1 = (String) request.getAttribute("emailDiferente"); %>
                        <% if (errorEMAIL != null || errorEMAIL1 != null) { %>
                        <p style="color: red;"><%= errorEMAIL1 %></p>
                        <% } %>
                    -->
                    </div>
                    <div id="nomeB">
                        <p>Nome atual</p>
                        <input type="text" name="nome" id="nome" placeholder="Sou uma cooperativa">
                        <br><br>
                        <p>Novo Nome</p>
                        <input type="text" name="novoNome" id="novoNome">

                        <!--
                        <% String errorNome = (String) request.getAttribute("nomeIguais"); %>
                        <% if (errorNome != null) { %>
                        <p style="color: red;"><%= errorNome %></p>
                        <% } %>
                        -->
                    </div>
                    <div id="telB">
                        <p>Telefone atual</p>
                        <input type="text" name="tel" id="tel">
                        <br><br>
                        <p>Novo Telefone</p>
                        <input type="text" name="novoTel1" id="novoTel1">
                        <br><br>
                        <p>Confirmar Novo Telefone</p>
                        <input type="text" name="novoTel2" id="novoTel2">
                        <!--
                        <% String invalidTel = (String) request.getAttribute("invalidTel"); %>
                        <% if (invalidTel != null) { %>
                        <p style="color: red;"><%= invalidTel %></p>
                        <% } %>

                        <% String errorTelIgual = (String) request.getAttribute("telefoneIguais"); %>
                        <% if (errorTelIgual != null) { %>
                        <p style="color: red;"><%= errorTelIgual %></p>
                        <% } %>

                        <% String invalidNovoTel1 = (String) request.getAttribute("invalidNovoTel1"); %>
                        <% String invalidNovoTel2 = (String) request.getAttribute("invalidNovoTel2"); %>
                        <% if (invalidNovoTel1 != null || invalidNovoTel2!= null) { %>
                        <p style="color: red;"><%= invalidNovoTel2 %></p>
                        <% } %>

                        <% String errorTel = (String) request.getAttribute("telefoneDiferente"); %>
                        <% String errorTel1 = (String) request.getAttribute("telefoneDiferente"); %>
                        <% if (errorTel != null || errorTel1 != null) { %>
                        <p style="color: red;"><%= errorTel1 %></p>
                        <% } %> -->
                    </div>
                </div>
                <input type="submit" value="Concluir" id="confirmar" class="input-submit">
            </div>
        </div>
    </main>
    <!-- <% String erro = (String) request.getAttribute("erro"); %>
    <% if (erro != null) { %>
    <p style="color: red;"><%= erro %></p>
    <% } %> -->
</form>
</body>
</html>
