@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}

.barra{
    display: flex;
    position: relative;
    margin: 20px;
   
    #re{
        position: relative;
        margin: 10px;
        left: 15px;
        width: 120px;
        height: 27px;
    }  
    

    #search{
        display: flex;
        position: relative;
        left: 10vw;

        #icone_lupa{
            margin-right: 15px;
            width: 2vw;
        }

        #s{
            position: relative;
            top: 7px;
        }
       
    }

    #notificacao{
        position:relative;
        width: 2vw;
        left: 72vw;
    }

    #icone_perfil{
        position:relative;
        width: 2vw;
        left: 75vw;
    }
}

.filtro{
    display: flex;
    margin: 1px;
    margin-bottom: 5vw;
    width: 100vw;
    height: 50px;
    justify-content: center;
    background-color: #48DB6C;
    opacity: 20%;

    img{
        position: relative;
        width: 3vw;
        
    }

    p{
        position: relative;
        margin: 10px 30px;
        height: 10px;
        opacity: 200%;
        color: black;
    }
}

.sub-titulo{
    border-bottom: 2px solid #11c76f;
}

h2{
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
    left: 7vw;
    font-size: x-large;
    font-family: sans-serif;
    color: #343C6A;
}

#div1{
    position: relative;
    border-radius: 10px;
    width: 25vw;
    height: 8vh;
    left: 17vw;
    color: white;
    background-color: #11c76f;

    p{
        position: relative;
        top: 2.6vh;
        left: 1.5vw;
        font-size: x-large;
    }
    

    #adicionar{
        position: relative;
        border-radius: 20%;
        width: 2.5vw;
        left: 21vw;
        bottom: 4.5vh;
        opacity: 55%;
        cursor: pointer;
    }
    
}


.area_leiloes{
    display: flex;
    position: relative;
    border-radius: 10px;
    width: 1283px;
    height: 229px;
    left: 7vw;
    background-color: #F8F8F8;

    .leilao{
        position: relative;
        margin: 20px;
        border-radius: 10px;
        box-shadow: 0px 2px 1px black;

        width: 221px;
        height: 183.45px;

        background-color: white;

        img{
            width: 100%;
            height: 140.17px;
            border-radius: 10px 10px 0px 0px;
        }
        p{
            margin: 0px 10px;

            font-size: small;
        }


        .media{
            padding-bottom: 20px;
            border-radius: 0px 0px 10px 10px;
            color: #9FA6AC;
        }

        .encerramento{
            margin: 1px 10px;
            padding: 5px 50px 5px 5px;
            border-radius: 20px;

            width: 100px;

            text-align: center;
            font-size: x-small;
            background-color: #B9E0FA;
        }
       
    }
}
    
.em_alta{
    width: 1150px;
    height: 300px;

    .alta{
        height: 250px;

        .seta_abaixo{
            position: absolute;
            padding: 3px;
            border-radius: 100%;
            box-shadow: 0px 2px 3px black;

            max-width: 15px;
            max-height: 15px;

            bottom: 70px;
            left: 184px;
        }

        p{
            margin: 6px;
        }

        .abaixo_do_hr{
            display: flex;
            justify-content: space-around;

            p{
                margin: 0px;
            }

            .imagens{
                display: flex;
                flex-wrap: wrap;
                width: 90px;

                img{
                    margin: 2px;
                    border-radius: 100%;
                    max-width: 15px;
                    max-height: 15px;
                }

                p{
                    font-size: xx-small;
                    color: #9FA6AC;
                }
            }
        }
        
    }
}

.em_breve{
    opacity: 60%;
    .breve{
        background-color: #EDEDED;

        .encerramento{
            background-color: #B1B1B1;
        }
    }
}
    .seta{
        display: inline-block;
        position: relative;
        padding: 0;
        border-radius: 100%;
        box-shadow: 0px 3px 3px black;

        height: 70px;
        left: 0.1vw;

        align-self: center;
        opacity: 1;

        background-color: white;
    }


#Adicionar_leilao{
    display: none;
    position: absolute;
    width: 40vw;
    height: 50vh;
    bottom: 43vh;
    left: 46vw;
    background-color: white;
    transition: 1s;

    #foto{
        position: relative;
        width: 10vw;
        left: 5vw;
        top: 8vh;
    }

    #nomeLeilao{
        position: relative;
        left: 6vw;
        top: 10vh;
        font-size: larger;
    }

    #area{
        position: relative;
        float: right;
        border-radius: 10%;
        width: 20vw;
        height: 45vh;
        right: 1vw;
        bottom: 5vh;
        background-color: #F3F3F3;

        #sinal{
            position: relative;
            border-color: #48DB6C;
            border-radius: 100%;
            width: 3vw;
            top: 10vh;
            left: 1.5vw;
        }

        #tipo{
            position: relative;
            top: 8vh;
            left: 2.3vw;
            font-size: medium;
        }

        #tipos{
            position: relative;
            width: 14vw;
            height: 7vh;
            bottom: 2.4vh;
            left: 5vw;

            .icons{
                position: relative;
                border-radius: 100%;
                padding: 0.6vw;
                width: 1.5vw;
                background-color: white;
            }
            
            #plastico{
                position: relative;
                left: 0.5vw;
                bottom: 0.5vh;
            }

            #papel{
                position: relative;
                width: 2vw;
                left: 1vw;
                bottom: 0.5vh;
            }

            #vidro{
                position: relative;
                left: 1vw;
                bottom: 1vh;
            }

            #metal{
                position: relative;
                left: 1.2vw;
                bottom: 1vh;
            }

            p{
                display: inline;
                position: relative;
                padding: 0vh 0.5vw;
                font-size: small;
                bottom: 1vh;
            }
        }
    }
    #titulo{
        position: relative;
        border-radius: 30px;
        width: 16vw;
        height: 3vh;
        top: 1vh;
        left: 2vw;
        background-color: #48DB6C;
        p{
            position: relative;
            top: 0.5vh;
            font-size: small;
            text-align: center;
            color: white;
        }
        
    }

    form{
        position: relative;
        border-radius: 30px;
        top: 3vh;
        left: 2vw;
        input{
            border-radius: 30px;
        }
    }

}

#check:checked ~#Adicionar_leilao{
    display: unset;
    transition: ease-in-out;
    transition-duration: 1s;
}